.tile{


    height: 300px;
    width: 250px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden}


.tile img {
    height: 300px;

    object-fit: contain; /* Adjust object-fit based on your preference */

}
