.mini_nav{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 60px; /* Increase height */
  /* background-color: rgb(255, 193, 37); */
  
  background-image: url('../assets/footer.jpg');
  background-size: auto;
  background-position: center;
  

}

.mnav-info{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  margin-left: 20%;

}