.ReviewForm {
    font-family: 'Arial', sans-serif;
    width: 1000px; /* Widened block */
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f0de3c; /* Mild purplish background color */
    background-image: url('../../../assets/background.jpg');
  }
  
  .ReviewForm form {
    text-align: left; /* Align form content to the left */
  }
  
  .ReviewForm > div {
    margin-top: 20px;
  }
  
  .ReviewForm > div > div {
    text-align: right; /* Align comments to the right */
  }
  
  .ReviewForm > div > div > div {
    width: calc(100% - 40px); /* Expand the div block to the full width */
  }
  
  /* Facebook-like comment section style */
  .ReviewForm > div > div {
    border: 1px solid #e9ebee; /* Lighter border color */
    border-radius: 8px;
    padding: 10px;
    background-color: #b5cf76; /* White background color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  .ReviewForm > div > div > p {
    font-size: 16px; /* Larger font size */
    margin: 5px 0; /* Adjusted margins */
  }
  
  .ReviewForm > div > div > div > span {
    font-size: 20px; /* Larger font size for stars */
  }
  

  .ReviewCard{
    background-image: url('../../../assets/footer.jpg');
    background-position: center;
    background-size: cover;
  }