.background {
    height: 30vh;
    width: 100%;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 100px;
}


