.image_gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.vids{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}