/* Footer.css */

.footer {

    background-image: url('../assets/footer.jpg');
    background-size: cover;
  background-position: center;
  
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  