.main{

    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
  height: 15vh;
}


.links {
    display: flex;
    gap: 20px;
  }

  .links h3 {
    margin: 30px;
    cursor: pointer;
    color: goldenrod;
  }

.logo{
    width: 100px;
    height: 100px;
}