/* Navbar.css */
/* Navbar.css */
.navbar {
  background-color: #dad5d5;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px; /* Increase height */
}

/* Rest of the styles... */


.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  color: #3498db; /* Default color */
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease; /* Smooth transition effect */
}

.navbar-link:hover {
  color: goldenrod; /* Color on hover */
}

/* Add media queries for responsiveness if needed */
