/* Navbar.css */

.navbar {
  background-color: #dad5d5;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-around; /* Change to space-between to separate logo and links */
  align-items: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-link {
  color: #3498db;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-link:last-child {
  margin-right: 0; /* Remove right margin for the last link */
}

.navbar-link:hover {
  color: goldenrod;
}
